
/*-------- Dispositivos Tableta-------------*/
@media (max-width: 750px){
    .container{
        display:inline-block ;
        margin: 0 auto;
        max-width: 750px; 
        overflow: visible;
        row-gap:  1em;
        column-gap: 1em;
        padding-left: 15px;
        padding-right: 15px;      
        
    }

    .port-text {
        top: 30%;
        left: 1rem;
    }


}

/*  Index */

/* Habitaciones  */

/* Galería */

/*  Check in  */

/* Contacto  */
/*-------- Dispositivos móviles-------------*/

